.entry {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  max-width: 100%;
  height: 100vh;
  background-image: url("../../images/background_sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry_modal {
  width: 400px;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reg_title {
  margin: 10px;
}

.entry_input {
  margin-bottom: 20px;
  width: 200px;
}

.entry_modal_bottom {
  width: 218px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  border: 1px solid red;
}

.button {
  background-color: #2a7fb8;
}
